.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1440px;
  padding: 24px 156px;
  margin: auto;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  padding: 0;
  width: 360px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-image {
  object-fit: cover;
  width: 360px;
  height: 200px;
  transition: transform 250ms ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.04);
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

.sl-wrapper .sl-image .sl-caption {
  text-align: center;
}

.sl-wrapper .sl-close {
  color: #fff;
}

.sl-wrapper .sl-counter {
  color: #fff;
}

.sl-wrapper .sl-navigation button {
  color: #fff;
}
